@page "/Administration/Media/All"
@inject ApplicationDbContext db
@inject IMediaTypeService mtService
@inject IINMediaService inmService
@using INStudio.Data
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
@using Blazored.Toast
@using Blazored.Toast.Services
@inject IToastService toastService
@using System.Globalization
@* @typeparam TValue
@inherits InputBase<TValue> *@

<div class="content-wrapper">
  <section class="content">
    <div class="row">

      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Responsive Hover Table</h3>

            <div class="card-tools">
              <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                <div class="input-group-append">
                  <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
              <thead>
                <tr>
                  <td>Id</td>
                  <th>Title</th>
                  <th>Category</th>
                  <th>Type</th>
                  <th>Image</th>
                  <th>Action</th>

                </tr>
              </thead>
              <tbody>
                @foreach (var item in @mediaList)
                {
                  <tr>
                    <td>
                      @item.Id
                    </td>
                    <td>
                      @item.Title
                    </td>
                    <td>
                      @if(item.INMediaCategories != null)
                      {
                        @if(item.INMediaCategories.Count >= 1)
                        {
                          @foreach (var cat in item.INMediaCategories)
                          {
                            @cat.Category.Title
                          }
                        }
                      }
                    </td>
                    <td>
                      @if(item.Type != null)
                      {
                        @item.Type.Type
                      }
                      else
                      {
                          <span>no type</span>
                      }
                    </td>
                    
                    <td>
                      <img src="@item.Path" alt="Girl in a jacket" width="100" height="auto">
                    </td>

                    <td>
                      <a @onclick='() => DeleteItem(item.Id)' class="btn btn-outline-danger"><i
                          class="far fa-trash-alt"></i></a>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

      </div>

    </div>
  </section>





  <section class="content">
    <div class="row">

      <div class="col-md-10">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Quick Example</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <div class="card-body">
            <button type="button" class="btn btn-primary" @onclick="@(() => OpenModal())">Add Image</button>
          </div>


          <div class="card-footer">
            @* <button form="@pageId" type="submit" class="btn btn-success">Запиши</button> *@
          </div>


        </div>
        <!-- /.card -->




      </div>
      <!-- /div col-6 /.col (left) -->


      <div class="col-md-2">
        <!-- general form elements disabled -->
        <div class="card card-warning">
          <div class="card-header">
            <h3 class="card-title">General Elements</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">



          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>


    </div>
  </section>
  <!-- /.content -->

  @if (showModal)
  {
    <div class="modal" tabindex="-1" ig="modal-ld" style="display:block" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Large Modal</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>One fine body&hellip;</p>
            
            <form @onsubmit="OnSubmit">
              <InputFile class="btn btn-block btn-secondary" OnChange="OnInputFileChange" multiple
                maxAllowedSize="1000000" />
              <br /><br />
              <label>
                Primary Classification:
                <select >
                  @foreach (var mtype in mediaTypes)
                  {
                      <option @onclick='eventArgs => { AddMediaType(mtype.Id); }'value="@mtype.Id">@mtype.Type</option>
                  }
                </select>
              </label>
                <label>
                Category:
                @foreach (var cat in categoryes)
                  {

                    <label>
                        @cat.Title;
                    </label>
                    @* <input  type="checkbox" value="@cat.Id" 
                          id="@cat.Id" name="gender" @onchange="AddCategory" /> *@

                          <input  type="checkbox" value="@cat.Id" 
                           @onchange="() => AddCategory(cat.Id)" />

                    @* <input  type="checkbox" value="@cat.Id" 
                           @onchange="eventArgs => {AddCategory(eventArgs.Value);}" /> *@
    
                      @* <option @onclick='eventArgs => { AddCategory(cat.Id); }'value="@cat.Id">@cat.Title</option> *@
                  }
                
              </label>
              <button class="btn btn-primary" type="submit">Качи на сървъра</button>
              <span>@Message</span>
            </form>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"
              @onclick="() => CloseModal()">Close</button>

          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
  }


</div>



@code
{
  string pageId = "abv";
  bool showModal = false;
  string Message = "Не са избрани файлове.";
  private HashSet<INMedia> mediaList = new HashSet<INMedia>();
  private HashSet<Category> categoryes;
  private HashSet<Category> categoryesToAdd;
  private HashSet<INStudio.Data.MediaType> mediaTypes;
  IReadOnlyList<IBrowserFile> selectedFiles;

    //[Parameter]
    //public TValue SelectedValue { get; set; }

  private INMedia mediaModel = new INMedia();

  protected override void OnInitialized()
  {
    base.OnInitialized();

    mediaList = this.inmService.GetImages().ToHashSet();
    mediaTypes = mtService.GetAllMediaTypes().ToHashSet();
    categoryes = this.db.Category.ToHashSet();

    StateHasChanged();
  }

  async void HandleValidSubmit(EditContext editContext)
  {
    inmService.AddImage(mediaModel);
    
    mediaModel = new INMedia();
    StateHasChanged();
  }

  void HandleInValidSubmit(EditContext editContext)
  {

  }

  void DeleteItem(string id)
  {
    bool operationOk = inmService.DeleteImage(id);

    if(operationOk)
    {
      toastService.ShowToast(ToastLevel.Success, "Deleted Sucsesfuly!");
    }
    else
    {
      toastService.ShowToast(ToastLevel.Error, "Not deleted!");
    }
    
    mediaList = this.inmService.GetImages().ToHashSet();
    StateHasChanged();
  }


  void OnInputFileChange(InputFileChangeEventArgs e)
  {
    selectedFiles = e.GetMultipleFiles();
    Message = $"{selectedFiles.Count} избран файл.";
    this.StateHasChanged();
  }

  async void OnSubmit()
  {
    foreach (var file in selectedFiles)
    {
      string giud = Guid.NewGuid().ToString();
      Stream stream = file.OpenReadStream(500000000);
      var filePath = "/Uploads/" + giud + file.Name;
      var cwrf = env.WebRootPath;
      var path = Path.Combine(cwrf, "Uploads", giud + file.Name);
      FileStream fs = File.Create(path);

      await stream.CopyToAsync(fs);
      stream.Close();
      fs.Close();
      
      mediaModel.Title = file.Name;
      mediaModel.Path = filePath;
      mediaModel.Description = mediaModel.Description;
      //HashSet<INMediaCategory> mc = new HashSet<INMediaCategory>();
      //  foreach(var cat in categoryesToAdd)
      //  {
      //    mc.Add(new INMediaCategory(){INMediaId = mediaModel.Id, CategoryId = cat.Id});
      //  }
      //mediaModel.INMediaCategories = mc;
      bool operationOk = inmService.AddImage(mediaModel);

      if(operationOk)
    {
      toastService.ShowToast(ToastLevel.Success, "Added Sucsesfuly!");
    }
    else
    {
      toastService.ShowToast(ToastLevel.Error, "Not Added!");
    }
      
    }
    Message = $"{selectedFiles.Count} файлове качени на сървъра.";
    mediaList = this.inmService.GetImages().ToHashSet();
    mediaModel = new INMedia();
    this.StateHasChanged();
  }

  void AddMediaType(string mtypeId)
  {
    mediaModel.TypeId = mtypeId;
  }
  void AddCategory(string id)
  {
    //object checkedValue
    //ChangeEventArgs args
    //CurrentValueAsString = args.Value.ToString();

    mediaModel
    .INMediaCategories
    .Add(
      new INMediaCategory(){
        INMediaId = mediaModel.Id,
        CategoryId = id
        });
    //bool success = false;
    //success = categoryesToAdd.Any(x => x.Id == args.Value.ToString());
    //
    //if(!success)
    //{
    //  categoryesToAdd.Add(categoryes.FirstOrDefault(c => c.Id == args.Value.ToString()));
    //}
    //else
    //{
    //  categoryesToAdd.Remove(categoryes.FirstOrDefault(c => c.Id == args.Value.ToString()));
    //}
  }
  

  void OpenModal()
  {
    showModal = true;
    StateHasChanged();
  }

  void CloseModal()
  {
    showModal = false;
    StateHasChanged();
  }

  string GetMedia(string id)
  {
    string path = this.inmService.GetImage(id).Path;

    return path;
  }
}