@page "/Administration/Corousel/All"
@inject ICarouselService carouselService
@inject ApplicationDbContext db



<div class="content-wrapper">
    <section class="content">
        <div class="row">

          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Responsive Hover Table</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Title</th>
                      <th>Number</th>
                      <th>Active</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    @foreach (var item in @carouselsList)
                    {
                        <tr>
                            <td>
                                @item.Id
                            </td>
                            <td>
                                @item.Title
                            </td>
                            <td>
                                @item.Number
                            </td>
                            <td>
                                @item.Ative
                            </td>
                        </tr>
                    }
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        
        </div>
    </section>

<section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>General Form</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">General Form</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>


    <section class="content">
      <div class="row">

          <div class="col-md-10">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Quick Example</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <EditForm id="@pageId" Model="@carouselModel" OnSubmit="@ZimiTooBukluk" >
                <ChildContent Context="another_name">
                  <DataAnnotationsValidator/>
                <div class="card-body">
                  <div class="form-group">
                    <label for="ecarouselModel.Title">Title</label>
                    <InputText class="form-control" @bind-Value="carouselModel.Title"/>
                  </div>
                  <div class="form-group">
                    <label for="arouselModel.Description">Description</label>
                    <InputText class="form-control" @bind-Value="carouselModel.Description"/>
                  </div>
                  <div class="form-group">
                    <label for="carouselModel.Number">Number</label>
                    <InputNumber class="form-control" @bind-Value="carouselModel.Number"/>
                  </div>
                  <div class="form-group">
                    <label for="carouselModel.Link">Link</label>
                    <InputText class="form-control" @bind-Value="carouselModel.Link"/>
                  </div>
                  
                  <button type="submit">Submit</button>
                </div>
                <!-- /.card-body -->
                </ChildContent>
              </EditForm>
                <div class="card-footer">
                  @* <button form="@pageId" type="submit" class="btn btn-success">Запиши</button> *@
                </div>
                
              
            </div>
            <!-- /.card -->

            
            

          </div>
          <!-- /div col-6 /.col (left) -->


          <div class="col-md-2">
              <!-- general form elements disabled -->
            <div class="card card-warning">
              <div class="card-header">
                <h3 class="card-title">General Elements</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <p><span>@carouselModel.Title</span></p>
                <p><span>@carouselModel.Number</span></p>
                <p><span>@carouselModel.Id</span></p>
                @* <form role="form">
                  
                  

                  <div class="row">
                    <div class="col-sm-12">
                      <!-- checkbox -->
                      <div class="form-group">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox">
                          <label class="form-check-label">Checkbox</label>
                        </div>
                        
                        
                      </div>
                    </div> 
                    
                  </div>

                  

                  
                </form> *@
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>

      </div>
    </section>
    <!-- /.content -->

</div>











@code
{
string pageId = "abv";

private HashSet<Carousel> carouselsList;
  private Carousel carouselModel = new Carousel();

    protected override void OnInitialized()
        {
            base.OnInitialized();
            
            
            carouselsList = this.carouselService.GetAllCarouse().ToHashSet();
            //Carousel cc = new Carousel(){Title = "nnnn", Description = "mmmmm", Link = "ccc", Number = 2 };
            //this.carouselService.AddCarousel(cc);

            StateHasChanged();
        }

  void ZimiTooBukluk(EditContext editContext)
  {
    
      
    
    this.carouselService.AddCarousel(carouselModel);
    
    StateHasChanged();
  }

  void HandleInValidSubmit(EditContext editContext)
  {
    this.carouselService.AddCarousel(new Carousel(){Title = "zzzzz", Description = "xxx", Link = "ccc", Number = 1 });
  }

  
}    